<div class="main-page-container">
	{{#link-to 'average' (query-params rating='null')}}
			<h1>Průměrná výše půjček</h1>
		{{/link-to}}
	<div class="body">
	<div class="splitter-bar">
	</div>
	<h2 class="ratings-title">Rating:</h2>
		{{outlet}}
	</div>
</div>